<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoList</title>
</head>
<body>
<div layout:fragment="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-sm-5">ZADANIA</th>
                <th class="col-sm-2">POCZĄTEK</th>
                <th class="col-sm-2">KONIEC</th>
                <th class="col-sm-2">STATUS</th>
                <th class="col-sm-1"></th>
                <th class="col-sm-1"></th>
                <th class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:classappend="${task.status} ? success : active"  th:each="task : ${tasks}">
                <td style="word-wrap: break-word; min-width: 150px; max-width: 400px" th:text="${task.description}">description</td>
                <td th:text="${task.startData}">startDate</td>
                <td th:text="${task.endData}">endDate</td>
                <td th:text="${task.status} ? 'DONE' : 'IN PROGRESS' ">status</td>
                <td><a th:href="@{/tasks/done(id=${task.id})}">
                    <button class="btn btn-md btn-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </a></td>
                <td><a th:href="@{/tasks/update(id=${task.id})}">
                    <button class="btn btn-md btn-info">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </a></td>
                <td><a th:href="@{/tasks/delete(id=${task.id})}">
                    <button class="btn btn-md btn-warning">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </a></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/tasks/add}" class="btn btn-block btn-success" role="button">Dodaj!</a>
        <a th:href="@{/tasks/export(typeOfExport= 1 )}" class="btn btn-block btn-info" role="button">Eksport do PDF!</a>
        <a th:href="@{/tasks/export(typeOfExport= 2 )}" class="btn btn-block btn-info" role="button">Eksport do Excela!</a>
</div>
</body>
</html>