<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{img/fav.ico}"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="container" style="font-family: 'Comic Sans MS'">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/todolist.png}" alt="Smiley face" height="30" width="30">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                    <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                    <li><a th:href="@{/tasks}"><span class="glyphicon glyphicon-th-list"></span> Lista</a></li>
                    <li><a th:href="@{/tasks/add}"><span class="glyphicon glyphicon-plus"></span> Dodaj</a></li>
                    <li><a th:href="@{/user/forecast}"><span class="glyphicon glyphicon-cloud"></span> Pogoda</a></li>
                    <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/admin/users}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Admin</a>
                    </li>
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div layout:fragment="content">Fake content</div>
    <nav class="footer navbar-fixed-bottom navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/info/}">Info</a>
                <a class="navbar-brand" th:href="@{/contact}">Contact</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
